div h1 {
  color: brown;
  background-color: cornsilk;
  border: 5px solid blue;
  text-align: center;
}

form input[type="text"] {
  background-color: yellow;
  width: 200px;
}

form label[id="title1"] {
  font-size: 20px;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
}

.setName {
  border: 5px dashed darkblue;
  width: 500px;
}

form label[id="titlePhone"] {
  font-size: 18px;
}

form input[type="tel"] {
  font-size: 14px;
  font-style: italic;
  background-color: blanchedalmond;
  border-radius: 6px;
}
